RewriteEngine On
RewriteCond %{ENV:REDIRECT_FINISH} !^$
RewriteRule ^ - [L]
RewriteCond %{REQUEST_FILENAME} ^.*\/static\/.*$
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ $1 [L,QSA]
RewriteRule ^(.*)$ src/index.php [L,QSA]
