<footer>
  <div class="container-fluid">
    Powered by <a href="http://swat.one" target="_blank">SWAT</a>, 2017
    <div class="pull-right">
      <a href="/feedback/">Напишите нам</a>
    </div>
  </div>
</footer>
