{% extends 'base.html.twig' %}

{% block page_title %}Новая модель автомобиля{% endblock page_title %}

{% block head_styles %}
  {{ parent() }}
  <link rel="stylesheet" href="/static/js/lib/select2/css/select2.min.css">
{% endblock head_styles %}

{% block foot_scripts %}
  {{ parent() }}
  <script src="/static/js/lib/select2/js/select2.full.min.js"></script>
  <script src="/static/js/lib/select2/js/i18n/ru.js"></script>
  <script src="/static/js/lib/maskedinput.js"></script>
  <script src="/static/js/create_auto.js"></script>
{% endblock foot_scripts %}

{% block content %}
  <h2>Новая модель автомобиля</h2>

  <form class="form-horizontal" role="form" style="margin-top: 30px;" id="createAutoForm">
    <div class="form-group">
      <label for="car_make" class="col-sm-2 control-label">Марка</label>
      <div class="col-sm-5">
        <select name="car_make" id="createAutoCarMakeSelect">
          <option></option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="car_model" class="col-sm-2 control-label">Модель</label>
      <div class="col-sm-5">
        <input type="text" name="car_model" placeholder="Lancer Evo X" class="form-control" require>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5 col-sm-push-2">
        <input type="submit" class="btn btn-primary" value="Продолжить">
      </div>
    </div>
  </form>
{% endblock content %}
