{% extends 'base.html.twig' %}

{% block content %}
  <h2>Добро пожаловать. Вы вошли как <b>&laquo;{{ user.name }}&raquo;.</b></h2>

  <hr>

  <h3>С чего начать?</h3>
  <ul>
    <li><a href="/settings">Заполните свой профиль</a></li>
    <li><a href="/auto/add">Добавьте автомобиль</a></li>
    <li><a href="/order/new">Создайте новый заказ</a></li>
  </ul>

  <hr>

  <h3>Сейчас в системе</h3>
  <ul>
    <li>Автомобилей <b>{{ cars_count }}</b></li>
    <li>Клиентов <b>{{ clients_count }}</b></li>
    <li>Заказов <b>{{ orders_count }}</b></li>
  </ul>
{% endblock content %}